{%  extends 'base.html' %}

{% block content %}
<h1>Cars</h1>
<div class="card bg-dark text-white">
	<form class="form-inline md-form mr-auto mb-4">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="value">
		<button class="btn btn-primary blue-gradient  btn-rounded btn-sm my-2" type="submit">Search</button>
	</form>
</div>
<div class="card bg-dark text-white">
	<table class="table table-dark table-striped">
		<tr>
			<th>Plate</th>
			<th>Model</th>
			<th>Color</th>
			<th>Year</th>
			<th>Office Name</th>
			<th>Office Location</th>
			<th></th>
		</tr>

		{% for i in cars %}
			<tr>
				<td>{{i.plate_id}}</td>
				<td>{{i.model}}</td>
				<td>{{i.color}}</td>
				<td>{{i.year}}</td>
				<td>{{i.belong_office.office_name}}</td>
				<td>{{i.belong_office.office_location}}</td>

				<td><button type="submit" class="btn btn-primary">Register</button></td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock content %}
