{% extends 'base.html' %}
{% block content %}
    <h1>Editing car with plate id: {{ car.plate_id }}</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="model" class="form-label">Model</label>
            <input type="text" class="form-control" id="model" name="model" value="{{ car.model }}">
        </div>
        <div class="mb-3">
            <label for="color" class="form-label">Color</label>
            <input type="text" class="form-control" id="color" name="color" value="{{ car.color }}">
        </div>
        <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            <input type="text" class="form-control" id="year" name="year" value="{{ car.year }}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
{% endblock %}
