{%  extends 'base.html' %}

{% block content %}

<h1>Offices</h1>

<div>
    <form class="form-inline md-form mr-auto mb-4">
        <div class="form-group">
            <label for="search_id">Office id</label>
            <input class="form-control mr-sm-2 bg-dark text-white" type="search" name="search_id" id="search_id" value="{{ search_dictionary.id }}">
        </div>
        <div class="form-group">
            <label for="search_name">Office name</label>
            <input class="form-control mr-sm-2 bg-dark text-white" type="search" name="search_name" id="search_name" value="{{ search_dictionary.name }}">
        </div>
        <div class="form-group">
            <label for="search_location">Office location</label>
            <input class="form-control mr-sm-2 bg-dark text-white" type="search" name="search_location" id="search_location" value="{{ search_dictionary.location }}">
        </div>

        <button class="btn btn-primary blue-gradient btn-rounded m-2" type="submit">Search</button>
    </form>
</div>

<div>
    {% if request.user.is_superuser %}
    <a class="btn btn-primary" href="{% url 'add_office' %}">Add office +</a>
    {% endif %}
</div>

<div class="card bg-dark text-white">
    <table class="table table-dark table-striped">
        <tr>
            <th>Office id</th>
            <th>Office name</th>
            <th>Office location</th>
        </tr>

        {% for office in offices %}
            <tr>
                <td><a href="{% url 'office_details' office_id=office.id %}">{{ office.id }}</a></td>
                <td>{{ office.office_name }}</td>
                <td>{{ office.office_location }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
