{%  extends 'base.html' %}

{% block content %}

<h1>Offices</h1>
<div>
	<form class="form-inline md-form mr-auto mb-4">
        <div class="card bg-dark text-white">
            <input class="form-control mr-sm-2" type="search" placeholder="Search office id" aria-label="Search" name="search_id">
        </div>

        <div class="card bg-dark text-white">
            <input class="form-control mr-sm-2" type="search" placeholder="Search office name" aria-label="Search" name="search_name">
        </div>
        
        <div class="card bg-dark text-white">
            <input class="form-control mr-sm-2" type="search" placeholder="Search office location" aria-label="Search" name="search_location">
        </div>
		
		<button class="btn btn-primary blue-gradient  btn-rounded btn-sm my-2" type="submit">Search</button>
	</form>
</div>

<div>
    {% if request.user.is_superuser %}
    <a class="btn btn-primary" href="{% url 'add_office' %}">Add office +</a>
    {% endif %}
</div>

<div class="card bg-dark text-white">
    <table class="table table-dark table-striped">
        <tr>
            <th>Office id</th>
            <th>Office name</th>
            <th>Office location</th>
        </tr>

        {% for office in offices %}
            <tr>
                <td><a href="{% url 'office_details' office_id=office.id %}">{{ office.id }}</a></td>
                <td>{{ office.office_name }}</td>
                <td>{{ office.office_location }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
